.banner {
  height: 110px;
  background-image: url("/imgs/pattern.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 400px 215px;
  overflow: hidden; 
  background-color: #4ea0ff;
}

#booleaner {
    color: #26abe5;
}

#headertitle{
    color: white;
}

.datetime{
    font-size: 12px;
}

.photocaption{
    font-size: 12px;
}

.highlithed{
    background-color: yellow;
}

table{
  width: 100%;
  border-collapse: collapse; 
  text-align: left;
}

th, td {
  padding: 10px;
}

th {
  background-color:#20a9e5;
  font-weight: bold;
  color: white;
}

.middlecolumn{
    background-color: white;
}

.sidecolumn{
    background-color: #b1e5f2;
}

.lastphoto{
    height: 13%;
    width: 13%;
}