.banner {
  height: 90px;
  background-image: url("/imgs/pattern.png");
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 400px 215px;
  overflow: hidden; 
  background-color: #4ea0ff;
  border: 10px;
  border-color: #4ea0ff;
}

#booleaner {
    color: #26abe5;
}

#headertitle{
    font-family: "Merriweather", serif;
    color: white;
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    top: 15px;
}

#the{
    font-size: 1rem;       
    position: absolute;
    top: -0.4em;            
    left: 1.4em;            
    color: white;
}

.datetime{
    font-size: 12px;
}

.photocaption{
    font-size: 12px;
}

.highlithed{
    background-color: yellow;
}

table{
  width: 100%;
  border-collapse: collapse; 
  text-align: left;
}

th, td {
  padding: 10px;
}

th {
  background-color:#20a9e5;
  font-weight: bold;
  color: white;
}

.middlecolumn{
    background-color: white;
}

.sidecolumn{
    background-color: #b1e5f2;
}

.card {
  position: relative;
  width: 200px;      
  margin-bottom: 15px;
}

.card img {
  width: 100%;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}